* { box-sizing: border-box; }

html {
    font-family: 'Nanum Gothic', sans-serif;
}

.bgImg {     
    z-index: -999;
    position: absolute;
    top: 0;
}

.main_body{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main_body section {
    width: 100%;
    margin: 9em auto;
}

.main_body section > div:not(.write_btn) {
    text-align: center;
    font-family: 'Stylish', sans-serif;
    color: rgb(49, 32, 20);
    font-size: 2.5em;
}

header .link_box{    
    text-align: right;
    padding: 10px;
    float: right;
}

.link_box a{
    color: rgb(156, 85, 26);
    text-decoration: none;
    padding: 4px;
}

.link_box a:hover {
    text-decoration: none;
}

.link_box a:visited {
    text-decoration: none;
}

.main_body .write_btn {
    margin: 30px auto;
}

body:not(.main_body) .write_btn {
    float: right;   
}

.write_btn {
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid #efefef;
    background-color: rgba(255, 255, 255, 0.774);
    margin-bottom: 40px;
}

.write_btn a {
    font-size: 20px;
    color: rgb(156, 85, 26);
    text-decoration: none;
    text-align: center;
}

.write_btn a:hover {
    text-decoration: none;
}

.write_btn a:visited {
    text-decoration: none;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

body:not(.main_body) {
    width: 960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-color: #f8f8f8; 
 	/* height:0.3px; */
}

header {
    width: 100%;
    height: 130px;
}

header .title {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Stylish', sans-serif;
    font-weight: normal;
}

.title a{
    color: #000;
    text-decoration: none;
    padding: 4px;
}

.title a:hover {
    text-decoration: none;
    color: #000;
}

.title a:visited {
    text-decoration: none;
    color: #000;
}

.grid {
    clear: both;
}


.grid-item {
    width: 300px;
    background-color: rgb(231, 215, 199);
    border-radius: 30px;
    padding: 20px;    
    box-shadow: #e0e0e0 0px 2px 3px;
    margin: 10px;
    text-align: center;
}


.date {
    display: inline-block;
}

.date > div {
    width: 70px;
    height: 70px;
    line-height: 62px;
    padding: 3px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
}

.d_title{
    width: 70%;
    display: inline-block;
    margin: 2%;
    margin-top: 6%;
    text-align: center;
}

.d_title div:nth-child(1){
    font-size: 1.8em;
}

.d_title div:nth-child(2) {
    font-size: 15px;
    margin-top: 2px;
}

.content {
    clear: both;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
}

.content a{
    color: rgb(156, 85, 26);
    text-decoration: none;
    padding: 4px;
}

.content a:hover {
    text-decoration: none;
}

.content a:visited {
    text-decoration: none;
}
.music {
    display: block;
    clear: both;
    margin-top: 10px;
}

.music div:nth-child(1){
    font-size: 23px;
    margin: 10px;
}

.container {
    width: 700px;
    margin: 50px auto;
    background-color: rgb(231, 215, 199);
    padding: 20px;
    border-radius: 30px;
    min-height: 400px;
    text-align: center;
}

.container > .title {
    font-size: 2.5em;
    margin: 20px;
}

.container > img {
    width: 500px;
    margin: 30px auto;
    display: block;
}

.container a{
    color: rgb(156, 85, 26);
    text-decoration: none;
    padding: 4px;
    margin-top: 50px;
}

.container a:hover {
    text-decoration: none;
}

.container a:visited {
    text-decoration: none;
}

.user_section {
    width: 900px;
    height: 500px;
    margin: 10px auto;
    text-align: center;
}

.user_section div {
    float: left;
    
}

.user_img{
    width: 450px;
    height: 500px;
    overflow: hidden;
}

.user_img > img{
    width: 100%;
}

.user_section div:nth-child(2){
    width: 450px;
    height: 500px;;
    background-color: #fff;
}

.register_body {
    background-color: rgb(247, 240, 233);
}

.user_section h1 {
    clear: both;
    text-align: center;
    font-size: 50px;
    color: rgb(161, 127, 92);
}

.login_form {
    margin: 60px 30px;
    text-align: center;
    height: auto;
}


.login_form input[type=text], input[type=password] {
    border: 1px solid lightgrey;
    border-radius: 15px;
    height: 40px;
    width: 190px;
    padding: 3px;
    margin: 3px;
}

.login_form input[type=submit] {
    border: 0px;
    margin-top: 20px;
    border-radius: 15px;
    width: 190px;
    height: 40px;
    padding: 3px;
    font-size: 17px;
    color: white;
    background-color: rgb(161, 127, 92);
}

.write_form input[type=text], input[type=password] {
    height: 40px;
    width: 600px;
}

.write_form textarea{
    border: 1px solid lightgrey;
    border-radius: 15px;
    height: 300px;
    width: 600px;
    padding: 3px;
    margin: 3px;
}

.user_section a{
    color: rgb(156, 85, 26);
    text-decoration: none;
    padding: 4px;
    margin-top: 50px;
}


.write_form a {
    margin-top: 80px;
    margin-bottom: 10px;
}


.user_section a:hover {
    text-decoration: none;
}

.user_section a:visited {
    text-decoration: none;
}
