{% extends "diary/main.html" %}
{% load static %}
{% block block %}
    <body>
        <header>
            <div class="link_box"> 
                <a href="{%url 'logout' %}">로그아웃</a>
            </div><br>
            <h1 class="title">
                <a href="{%url 'main' %}">그래도 괜찮은 하루</a>
            </h1><br><br>
        </header>
        <div class="container">
            <div class="date">
                <div>{{post.created_date.month}}.{{post.created_date.day}}</div>
            </div>
            <div class="d_title">
                <div>{{post.title}}</div>
                <div>{{post.created_date}}</div>
            </div>
            <div class="music">
                <div>{{post.song}}-{{post.singer}}</div>    
                <div><a href="{{post.link}}">노래 듣기</a></div>    
            </div>
            <img src="{{post.image.url}}" alt="">
            <div class="content">
                {{post.text}}
            </div><br>
            <a href="{% url 'index' %}">목록으로</a>
        </div>
        
    </body>
    {% endblock %}