{% extends "diary/main.html" %}
{% load static %}
{% block block %}
    <body>
        <header>
            <h1 class="title">
                <a href="{%url 'main' %}">그래도 괜찮은 하루</a>
            </h1>
        </header>
        <div class="container">
            <form action="" method="POST" class="login_form write_form" enctype="multipart/form-data">{% csrf_token %} 
                {% for field in form %}
		            {{ field }} <br>
	            {% endfor %}
                <input type="submit"><br><br>
                <a href="{% url 'index' %}">취소</a>
            </form>
        </div>
    </body>
    {% endblock %}