{% extends "diary/main.html" %}
{% block block %}
<body>
    <div class="container login_box">
        <div class="title">회원가입</div>
        <form class="login_form">
            <div>
                <span>ID : </span>
                <input type="text">
            </div>
            <div>
                <span>이름 : </span>
                <input type="text">
            </div>
            <div>
                <span>PASSWORD : </span>
                <input type="password">
            </div>
            <div>
                <input type="submit" value="회원가입">
            </div>
        </form>
    </div>
</body>
{% endblock %}